$coreUiDesktopFontWeightRegular: 400;
$coreUiDesktopFontWeightMedium: 500;
$coreUiDesktopFontWeightSemibold: 600;
$coreUiDesktopFontWeightBold: 700;
$coreUiDesktopFontWeightExtrabold: 800;
$coreUiDesktopFontFamilyCode: "Rethink Sans", monospace;
$coreUiDesktopFontFamilyBody: "Rethink Sans", sans-serif;
$coreUiDesktopFontFamilyTitle: "Rethink Sans", sans-serif;
